<a href="https://colab.research.google.com/github/18K41A0524/AI/blob/master/18k41a0524.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
length=int(input("enter length:"))
breadth=int(input("enter breadth:"))
height=int(input("enter heigth:"))
p=float(length+breadth+height)/3
area=(p*(p-length)*(p-breadth)*(p-height))**(0.5)
print("Area of the Triangle:",area)

enter length:10
enter breadth:20
enter heigth:10
Area of the Triangle: (1.92434679163443e-15+31.42696805273545j)

In [13]:
str2=input("enter string")
str1=str2[::-1]
if str2==str1:
  print("pallendrome")
else:
  print("not a pallendrome")

enter stringpallen
not a pallendrome

In [21]:
year=int(input("Enter year"))
if year%4==0:
  print(year,"isLeap year")
else:
  print("not a leap year")

Enter year2000
2000 isLeap year

In [33]:
string=input("Enter string:")
string=string.split(" ")
print(string)
string="-".join(string)
print(string)

Enter string:This program converts spaces to hypen
['This', 'program', 'converts', 'spaces', 'to', 'hypen']
This-program-converts-spaces-to-hypen

In [43]:
string=input()
string=string.split(",")
print(string)
List=list(string)
List.sort()
Dic=list(dict.fromkeys(List))
print(Dic)

orange, white, red, cyan, green, magenta, cyan, pink, white
['orange', ' white', ' red', ' cyan', ' green', ' magenta', ' cyan', ' pink', ' white']
[' cyan', ' green', ' magenta', ' pink', ' red', ' white', 'orange']

In [53]:
sal=int(input("Enter salary"))
if sal<(250000):
   tax=0
   print("salary is:",sal,"","tax:",tax)
elif (sal>250001)and (sal<=500000):
   tax=float(sal*(5/100))
   print("salary is:",sal,"","tax:",tax)
elif (sal>5000001)and (sal<=750000):
   tax=float(sal*(10/100))
   print("salary is:",sal,"","tax:",tax)
elif (sal>750001)and (sal<=1000000):
   tax=float(sal*(15/100))
   print("salary is:",sal,"","tax:",tax)
elif (sal>1000001)and (sal<=1250000):
   tax=float(sal*(20/100))
   print("salary is:",sal,"","tax:",tax)
elif (sal>1250001)and (sal<=1500000):
   tax=float(sal*(25/100))
   print("salary is:",sal,"","tax:",tax)
elif (sal>1500000):
   tax=float(sal*(30/100))
   print("salary is:",sal,"","tax:",tax)

Enter salary500000
salary is: 500000  tax: 25000.0

In [57]:
list=[1,2,3,4]
print(list)
for i in list:
  print(i,end="")

[1, 2, 3, 4]
1234

In [82]:
days=int(input("enter no of days:"))
hours=int(input("enter no of hours:"))
min=int(input("enter no of min:"))
sec=int(input("enter no of seconds:"))
dos=days*86400
print("no of seconds for",days,"daysis:",dos)
hos=hours*3600
print("no of seconds for",hours,"hours is:",hos)
mos=min*60
print("no of seconds for",min,"minutes is:",mos)
sos=sec*1
print("no of seconds for",sec,"secondsis:",sos)
print('total number of seconds are ',days*86400+hours*3600+min*60+sec)

enter no of days:2
enter no of hours:2
enter no of min:2
enter no of seconds:2
no of seconds for 2 daysis: 172800
no of seconds for 2 hours is: 7200
no of seconds for 2 minutes is: 120
no of seconds for 2 secondsis: 2
total number of seconds are  180122

In [108]:

a=int(input('enter first number : '))
b=int(input('enter second number : '))
c=int(input('enter third number : '))
ma=max(a,b,c)
mi=min(a,b,c)
print('the numbers are shorted in order of: ',mi,a+b+c-(ma+mi),ma)

enter first number : 3
enter second number : 4
enter third number : 2

TypeError: ignored

TypeError: ignored

In [88]:
y = int(input("enter a year: "))
m= int(input("Input a month [1-12]: "))
d = int(input("Input a day [1-31]: "))
if (y % 4 == 0):
  ly = True
else:
  ly = False
if m in (1, 3, 5, 7, 8, 10, 12):
  ml= 31
elif m == 2:
    if ly:
        ml= 29
    else:
        ml = 28
else:
    ml= 30
if d < ml:
    d += 1
else:
    d=1
    if m == 12:
        m = 1
        y += 1
    else:
        m += 1
print("The next date : " ,y,m,d)

enter a year: 2020
Input a month [1-12]: 4
Input a day [1-31]: 5
The next date :  2020 4 6

In [73]:
import datetime
NextDay = datetime.datetime(2020,4,15) + datetime.timedelta(days=1)
print ('Successor_Date: ' + str(NextDay))

Successor_Date: 2020-04-16 00:00:00

In [76]:
List=[45,3,2,89,72,1,10,7]
sum=1
for i in List:
  sum=sum*i
print("Product:",sum)

Product: 121111200

In [90]:
l=[]
n=int(input('Enter number of elements :')) 
print('enter elements :')
for i in range(0, n): 
	e = int(input()) 
	l.append(e)
print('list you have entered is : ',str(l)) 
s=[] 
for i in range(1, len(l)): 
	s.append(l[i]+l[i-1]) 
print ("difference list : ",s)

Enter number of elements :6
enter elements :
5
6
8
34
89
1
list you have entered is :  [5, 6, 8, 34, 89, 1]
difference list :  [11, 14, 42, 123, 90]

In [91]:
l=(5,6,8,3,9,1)
p=[]
r=1
for i in l:
  r*=i
  p.append(r)
print("multiplication list of all elements is : ",p)

multiplication list of all elements is :  [5, 30, 240, 720, 6480, 6480]

In [92]:
n=int(input('enter an integer : '))
s=[]
for x in str(n):
  s.append(int(x))
print(s)

enter an integer : 586392
[5, 8, 6, 3, 9, 2]

In [93]:
class sub(object):
   def lp(self, s):
      p = [[False for i in range(len(s))] for i in range(len(s))]
      for i in range(len(s)):
         p[i][i] = True
      ml = 1
      t = 0
      for l in range(2,len(s)+1):
         for i in range(len(s)-l+1):
            e = i+l
            if l==2:
               if s[i] == s[e-1]:
                  p[i][e-1]=True
                  ml = l
                  t = i
            else:
               if s[i] == s[e-1] and p[i+1][e-2]:
                  p[i][e-1]=True
                  ml = l
                  t = i
      return s[t:t+ml]
st=input("enter string : ")
ob1 = sub()
print(ob1.lp(st))

enter string : beginning
inni

In [94]:
s=input("Enter binary string:")
ss=input("Enter binary substring:")
if(s.find(ss)==-1):
      print("0")
else:
      print("1")

Enter binary string:1010110010
Enter binary substring:10110
1

In [101]:
def gcd(a,b):
    if b==0: 
        return a 
    return gcd(b,a%b) 
def steps(a,b,c): 
    v1=b
    v2=0
    co=1
    while ((v1 is not c) and (v2 is not c)): 
        t=min(v1,a-v2) 
        v2=v2+t 
        v1=v1-t 
        co+=1
        if ((v2==c)or(v1==c)): 
            break
        if v1==0: 
            v1=b 
            co+=1
        if v2==a: 
            v2=0
            co+=1
    return co 
def ispos(a,b,c): 
    if a>b: 
        t=a 
        a=b 
        b=t 
    if c>b: 
        return -1
    if (c%(gcd(b,a)) is not 0): 
        return -1
    return(min(steps(b,a,c),steps(a,b,c)))
t=int(input("Enter no of testcases : "))
for i in range(t):
  a=int(input("Enter number of liters in vessel a : "))
  b=int(input("Enter number of liters in vessel b : "))
  c=int(input("Enter number of liters to be obtained :"))
  print("Minimum number of steps required to fill the vessel c is : ",ispos(a,b,c))

Enter no of testcases : 1
Enter number of liters in vessel a : 2
Enter number of liters in vessel b : 9
Enter number of liters to be obtained :5

TypeError: ignored